<div class="container">
    <ul class="navbar">
        <div class="navbar-left-side">
            <li class="navbar-item">
                <a class="navbar-link logo" href="">
                    <img src="assets/images/logo.svg" alt="">
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="">
                    Features
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="">
                    Pricing
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="">
                    Resources
                </a>
            </li>
        </div>
    
        <div class="navbar-right-side">
            <li class="navbar-item">
                <a class="navbar-link" href="">
                    Login
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link rounded-button" href="">
                    Sign up
                </a>
            </li>
        </div>
        <div class="icon mobile-navbar-hamburger" (click)="openHamburgerMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <ul class="mobile-menu">
                <li class="mobile-navbar-item">
                    <a class="navbar-link" href="">
                        Features
                    </a>
                </li>
                <li class="mobile-navbar-item">
                    <a class="navbar-link" href="">
                        Pricing
                    </a>
                </li>
                <li class="mobile-navbar-item">
                    <a class="navbar-link" href="">
                        Resources
                    </a>
                </li>

                <div class="dividing-line"></div>

                <li class="mobile-navbar-item">
                    <a class="navbar-link" href="">
                        Login
                    </a>
                </li>
                <li class="mobile-navbar-item">
                    <a class="navbar-link rounded-button" href="">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
    </ul>
</div>
