.container{
    margin-bottom: 0;
}

.hero{
    margin-top: 130px;
    display: flex;
}

.hero-left-side{
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    
    .hero-title{
        h1{
            font-size: 75px;
            letter-spacing: -2px;
            line-height: 90px;
            margin-bottom: 0px;
            color: hsl(260, 8%, 14%);
        }
    }
        
    .hero-description{
        max-width: 50ch;
        
        h3{
            margin-top: 0;
            font-weight: 400;
            color: hsl(257, 7%, 63%);
        }
    }

    .hero-cta-button{
        margin-top: 25px;

        .hero-button{
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.5px;
            padding: 13px 25px;
        }
    }
}


.hero-right-side{
    overflow: visible;
}

.hero-image{
    img{
        width: 700px;
    }    
}

@media screen and (max-width: 450px){
    .hero{
        flex-direction: column-reverse;
        margin-top: 0px;
        align-items: center;
    }

    .hero-image{
        img{
            width: 500px;
        }
    }

    .hero-left-side{
        align-items: center;
    }
    
    .hero-title{
        h1{
            font-size: 40px !important;
            line-height: 50px !important;
            font-weight: 600;
        }
        text-align: center;
    }

    .hero-description{
        h3{
            font-size: 18px;
            line-height: 30px;
        }
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1050px){
    
}