@import 'src/buttons.scss';

html, body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    margin: 50px 100px;
}