.stats-container{
    padding-bottom: 150px;
    min-width: 100vw !important;
    background-color: hsl(230, 25, 95.3);
    background-position: top 50px;
}

.stats-headline-conntainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-title h1{
    margin-bottom: 0px !important;
}

.stats-description{
    max-width: 45ch;
    text-align: center;
    color: hsl(257, 7%, 63%);
    font-size: 16px;
}

.stats-cards{
    display: flex;
    margin-top: 80px;
}
.card-connecting-line{
    width: 100px;
    background-color: hsl(180, 66%, 49%);
    height: 8px;
    align-self: center;
    margin-top: 80px;
}
.stats-card{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.stats-card-title{
    margin-top: 30px;
}

.stats-card:nth-child(3){
    top: 50px;
}
.stats-card:nth-child(5){
    top: 100px;
}

.stats-card-icon{
    background-color: hsl(257, 27%, 26%);
    display: flex;
    border-radius: 50px;
    height: 85px;
    width: 85px;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
}

.stats-card-description{
    font-size: 16px;
    color: hsl(257, 7%, 63%);
    font-weight: 300;
}


@media screen and (max-width: 1050px){
    .stats-container{
        padding-bottom: 50px;
    }

    .stats-title{
        text-align: center;
        
        h1{
            font-size: 25px;
        }
    }

    .stats-cards{
        flex-direction: column;
    }

    .stats-card{
        align-items: center;
    }

    .stats-card:nth-child(3){
        margin-top: 40px;
        top: 0px;
    }

    .stats-card:nth-child(5){
        margin-top: 40px;
        top: 0px;
    }

    .stats-card-description{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }

    .card-connecting-line{
        width: 8px;
        background-color: hsl(180, 66%, 49%);
        height: 50px;
        align-self: center;
        margin-top: 0px;
    }

    .stats-card-title{
        margin-top: 0px;
    }
}